.header-images {
  margin: 0;
}

.header-images {
  position: relative;
}

.pattern {
  background-color: rgb(78, 160, 255);
  height: 200px;
  position: relative;
}

.logo {
  position: absolute;
  width: 200px;
  bottom: 10px;
  left: 10px;
}

span{
  color: grey;
}

h1 {
  margin-bottom: 5px;
}

.header-author {
  color: blue;
}

.header-date {
  font-size: 12px;
}
